.home-body {
  background-image: url("../../assets/images/background-image.png");
  height: calc(100vh - (60px + 24px + 110px));
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  .hero-section {
    background-color: rgba(38, 43, 76, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    .intro-text {
      color: white;
      font-family: "Poppins", sans-serif;
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 2px;
      text-align: center;
      width: 70%;
      padding-top: 37px;
      padding-bottom: 37px;
    }
    .button-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 115px;
      padding-bottom: 57px;
      a {
        background-color: white;
        color: black;
        font-family: "Poppins", sans-serif;
        font-size: 24px;
        font-weight: 500;
        padding: 16px;
        cursor: pointer;
        position: relative;
        display: block;
        border: 2px black solid;
        z-index: 1;
        transition: 0.08s ease-in;
        -o-transition: 0.08s ease-in;
        -ms-transition: 0.08s ease-in;
        -moz-transition: 0.08s ease-in;
        -webkit-transition: 0.08s ease-in;
        text-decoration: none;
      }
    }
  }
}

.fill:hover {
  color: white !important;
}
button:hover {
  color: white;
}

.fill:before {
  content: "";
  position: absolute;
  background: black;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  transition: right 0.09s ease-in;
}

.fill:hover:before {
  right: 0;
}

@media screen and (max-width: 450px) {
  .home-body {
    height: auto;
    padding: 20px;
    height: calc(100vh - (60px + 24px + 110px));
    background-position: center;
    background-size: cover;
    .hero-section {
      .intro-text {
        font-size: 18px;
        width: 90%;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .button-container {
        flex-direction: column;
        gap: 20px;
        padding-bottom: 40px;
        a {
          font-size: 18px;
          padding: 10px;
          width: 300px;
          text-align: center;
        }
      }
    }
  }
  
}