.header {
  background-color: #262b4c;
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 500;
  height: 24px;
  a {
    text-decoration: none;
    color: #ff0000;
    transition: all 0.3s ease-in-out;
  }
}
a:hover {
  color: white;
}

/* Media query for screen sizes 450px and lower */
@media (max-width: 450px) {
  .header {
    flex-direction: column;
    padding: 5px;
    font-size: 12px;
    height: auto;
    text-align: center;
  }
  .header a {
    font-size: 12px;
  }
}
