.titlebar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(38, 43, 76, 0.4);
  font-family: "Poppins", sans-serif;
  height: 110px;
  p {
    font-size: 36px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 5%;
  }
}

@media (max-width: 450px) {
  .titlebar {
    gap: 5px;
    height: 95px;
    padding: 20px;

    p {
      font-size: 18px;
      text-align: center;
      line-height: normal;
      letter-spacing: 0%;
    }
  }
}
